.card {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-bottom: 10px;
}
.card-header {
  cursor: pointer;
  background: #e0e0e0;
  padding: 10px;
}
.card-body {
  transition: height 250ms ease;  
  overflow: hidden;
}
.card-content {
  padding: 10px;
}
